@charset "UTF-8";
.contact-sub .contact-info-header {
  color: #707070;
}

.contact-sub .contact-info {
  color: #707070;
}

.contact-table-master {
  width: 99vw;
  height: 86vh;
  /* background-color: aquamarine; */
}

.contact-table-master .contact-sub {
  width: 50vw;
  color: #707070;
}

.contact-table-master .contact-sub .contact-info-master {
  margin-left: 3vw;
}

.contact-table-master .contact-sub .contact-info-master .contact-info-header {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2rem;
}

.contact-table-master .contact-sub .contact-info-master .contact-info {
  font-size: 1.5rem;
}

.contact-table-master .contact-main {
  width: 50vw;
  max-width: 50vh;
  /* background-color: rgb(163, 255, 127); */
}

.contact-table-master .contact-main .contact-table {
  margin: auto;
  margin-top: 5vh;
}

.contact-table-master .contact-main .contact-table .contact-tr {
  /* background-color: rgb(197, 127, 255); */
  width: 40%;
  vertical-align: top;
  margin-top: 1vh;
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td {
  font-size: 2rem;
  padding: 1vh 0.5vw;
  color: #707070;
  /*  background-color: rgb(127, 168, 255); */
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input {
  width: 60%;
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input .contact-input {
  width: 25vw;
  height: 5vh;
  font-size: 2rem;
  color: #707070;
  /* background-color: rgb(255, 127, 212); */
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input .contact-textarea {
  /*  background-color: rgb(255, 127, 127); */
  /* background-color: aquamarine; */
  resize: vertical;
  /* 横幅の可変を禁止 */
  width: 25vw;
  height: 20vh;
  font-size: 2rem;
  color: #707070;
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input .contact-input-submit {
  width: 10vw;
  text-decoration: none;
  display: inline-block;
  color: #545454;
  padding: 1em 2em;
  border: 1px solid #545454;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  color: #545454;
  cursor: pointer;
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input .contact-input-submit:after {
  position: absolute;
  transition: 0.4s;
  content: "";
  width: 0;
  left: -10%;
  bottom: 0;
  height: 120%;
  background: #545454;
  transform: skewX(15deg);
  z-index: -100;
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input .contact-input-submit:hover {
  color: #fff;
}

.contact-table-master .contact-main .contact-table .contact-tr .contact-td-input .contact-input-submit:hover:after {
  width: 120%;
  left: -10%;
}
