html {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
.image_space {
  background-color: rgb(128, 128, 128);
  top: -0.8vh;
  left: -0.4vw;
  width: 100vw;
  height: 100vh;
  /*  object-fit: cover; */
  position: relative;
  z-index: 1;
  background-image: url(../img/image1.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  opacity: 0.9;
  background-size: cover;
}
p {
  font-size: 20px;
}
.gaisen {
  top: 42.5vh;
  left: 32.5vw;
  z-index: 2;
  text-align: center;
}
.menu_btn,
.hover {
  color: white;
}
.logo {
  filter: invert(100%);
  mix-blend-mode: difference;
}

.center-logo {
  width: 35vw;
  filter: invert(100%); /* 色が反転される */
}
.circleinfo {
  margin: {
    top: 2vh;
    left: 1vw;
  }
  width: 97vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  .circleinfo-table {
    .ciecle-info-th {
      padding: 2vh 2vw;
      font: {
        size: 2em;
      }
      color: #707070;
    }
    .circleinfo-tr {
      .circleinfo-date {
        padding: 2vh 2vw;
        font: {
          size: 1.5em;
        }
        color: #707070;
      }
      .circleinfo-detail {
        padding: 2vh 2vw;
        font: {
          size: 1.5em;
        }
        color: #707070;
      }
    }
  }
}
