@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定しておく */
  font-size: 62.5%;
}

body {
  /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
  font-size: 1.6em;
}

/* 
このファイルにはレスポンシブ含めメニューに関するSCSSを書いていきます。 
*/
.none {
  display: none;
  /* チェックボックスの非表示 */
}

.right {
  float: right;
}

.logo {
  /* background-color: blue; */
  height: 3.5vh;
}

.menu_back_space {
  background-color: white;
  position: fixed;
  display: block;
  top: -10px;
  left: -500px;
  width: 105%;
  height: 110%;
  opacity: 0;
  z-index: 50;
  transition: 0.3s ease-out;
}

.trans {
  transition: 0.3s ease-out;
}

.hum_menu_space {
  width: 50px;
  height: 50px;
}

span,
span::before {
  content: "";
  position: absolute;
  display: block;
  background-color: black;
  height: 7px;
  border-radius: 2px;
  width: 50px;
  z-index: 100;
}

span {
  float: right;
  top: 50px;
  right: 20px;
  transform: rotate(90deg);
}

span::before {
  transform: rotate(90deg);
}

#hum_c_box:checked ~ .hum_menu_space span {
  transform: rotate(45deg);
}

#hum_c_box:checked ~ .menu_back_space {
  opacity: 100;
  display: block;
  left: -10px;
}

.menu_btn,
.hover {
  border: none;
  outline: none;
  font-size: 1.8rem;
  background-color: transparent;
}

/* 通常時はホバー時の文字を非表示にする */
a .hover {
  display: none;
}

/* ホバー時は通常時の文字を非表示にする */
a:hover .menu_btn {
  display: none;
}

/* ホバー時に、ホバー時の文字を表示する */
a:hover .hover {
  text-decoration: none;
  display: inline;
  font-size: 1.6rem;
  animation: btnkirikae 0.5s;
}

.menu_td {
  text-align: center;
  height: 7vh;
  width: 9.5vw;
  /*  background-color: aqua; */
}

.menu_td a {
  width: 9.5vw;
}

.menu_td a button {
  width: 9.5vw;
}

a {
  text-decoration: none;
}

.menu_table_ph {
  margin: auto;
  margin-top: 200px;
}

.phone25px {
  font-size: 2rem;
}

.menu_tr {
  height: 8vh;
}

@keyframes btnkirikae {
  0% {
    opacity: 0;
    transform: translate(5px, 0px);
  }
  100% {
    opacity: 100;
    transform: translate(0px, 0px);
  }
}

@media screen and (min-width: 980px) {
  /* PC用CSS */
  .phone_menu {
    display: none;
  }
}

@media print, screen and (max-width: 979px) and (min-width: 768px) {
  /* スマホ用CSS */
  .pc_menu,
  .logo {
    display: none;
  }
}

@media print, screen and (max-width: 767px) and (min-width: 480px) {
  /* スマホ用CSS */
  .pc_menu,
  .logo {
    display: none;
  }
}

@media print, screen and (max-width: 767px) and (min-width: 480px) {
  /* スマホ用CSS */
  .pc_menu,
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  /* スマホ用CSS */
  .pc_menu,
  .logo {
    display: none;
  }
}

.menu-space-main {
  /* menu分のスペースを開けるcss */
  height: 9vh;
  /* background-color: blueviolet; */
}
