/* 
このファイルにはレスポンシブ含めメニューに関するSCSSを書いていきます。 
*/
$main_font_color: rgb(0, 0, 0);
$sub_font_color: rgb(255, 0, 76);
$none: rgba(0, 0, 0, 0);
.none {
  display: none; /* チェックボックスの非表示 */
}
.wid_max_menu {
  /* background-color: blue; */
  width: 100%;
}
.right {
  float: right;
}
.gazou {
  background-color: blue;
  width: 200px;
  height: 50px;
}
.menu_back_space {
  background-color: blue;
  position: fixed;
  display: block;
  top: -10px;
  left: -500px;
  width: 105%;
  height: 850px;
  opacity: 0;
  z-index: 0;
  transition: 0.3s ease-out;
}
.trans {
  transition: 0.3s ease-out;
}
.hum_menu_space {
  width: 50px;
  height: 50px;
}
span,
span::before {
  content: "";
  position: absolute;
  display: block;
  background-color: $main_font_color;
  height: 7px;
  border-radius: 2px;
  width: 50px;
  z-index: 100;
}
span {
  float: right;
  top: 50px;
  right: 20px;
  transform: rotate(90deg);
}
span::before {
  transform: rotate(90deg);
}
#hum_c_box:checked ~ .hum_menu_space span {
  transform: rotate(45deg);
}
#hum_c_box:checked ~ .menu_back_space {
  opacity: 100;
  display: block;
  left: -10px;
}
.menu_btn,
.hover {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: $none;
}
/* 通常時はホバー時の文字を非表示にする */
a .hover {
  display: none;
}

/* ホバー時は通常時の文字を非表示にする */
a:hover .menu_btn {
  display: none;
}

/* ホバー時に、ホバー時の文字を表示する */
a:hover .hover {
  text-decoration: none;
  display: inline;
  animation: btnkirikae 0.5s;
}
.menu_td {
  text-align: center;
  height: 50px;
  width: 150px;
}
a {
  text-decoration: none;
}
.menu_table_ph {
  margin: auto;
  margin-top: 200px;
}
@keyframes btnkirikae {
  0% {
    opacity: 0;
    transform: translate(5px, 0px);
  }
  100% {
    opacity: 100;
    transform: translate(0px, 0px);
  }
}
@media screen and (min-width: 481px) {
  /* PC用CSS */
  .phone_menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* スマホ用CSS */
  .pc_menu,
  .gazou {
    display: none;
  }
}
