/* 
このファイルにはレスポンシブ含め
全体に影響するSCSSを書いていきます。
*/
.width-max {
  width: 100%;
  /*   background-color: red; */
  position: absolute;
  z-index: 100;
}
.height-max {
  /* メニューの高さを除いたコンテンツの高さになります。 */
  height: 87vh;
}
